[delta "rose-pine"]
    blame-palette = "#191724 #1f1d2e #26233a #403d52 #524f67"
    commit-decoration-style = "#6e6a86" bold box ul
    dark = true
    file-decoration-style = "#6e6a86"
    file-style = "#e0def4"
    hunk-header-decoration-style = "#6e6a86" box ul
    hunk-header-file-style = bold
    hunk-header-line-number-style = bold "#908caa"
    hunk-header-style = file line-number syntax
    line-numbers-left-style = "#908caa"
    line-numbers-minus-style = bold "#eb6f92"
    line-numbers-plus-style = bold "#9ccfd8"
    line-numbers-right-style = "#908caa"
    line-numbers-zero-style = "#908caa"
    # 35% love 65% base
    minus-emph-style = bold syntax "#62364a"
    # 20% love 80% base
    minus-style = syntax "#43283a"
    # 35% pine 65% base
    plus-emph-style = bold syntax "#213749"
    # 20% pine 80% base
    plus-style = syntax "#1e293a"
    map-styles = \
        bold purple => syntax "#544968", \
        bold blue => syntax "#213749", \
        bold cyan => syntax "#465762", \
        bold yellow => syntax "#665241"
    # Should match the name of the bat theme
    syntax-theme = Rose-Pine
    side-by-side = false

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    features = rose-pine
    line-numbers = true

[merge]
    conflictstyle = zdiff3
    tool = codediff

[diff]
    colorMoved = default

[user]
    name = Michael Park
    email = me@mhpark.me
    signingkey = ~/.ssh/id_ed25519.pub

[pull]
    rebase = false

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[gpg]
    format = ssh

[commit]
    gpgsign = true

[mergetool "codediff"]
    cmd = nvim \"$MERGED\" -c \"CodeDiff merge \\\"$MERGED\\\"\"

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[branch]
	sort = committerdate
