*.DS_STORE
.DS_Store

*.otf
*.ttf
*.uuid
*.zwc

*HunterMono*

*backblaze.age.json

.zprofile
colima/.colima/_lima/*
colima/.colima/ssh_config
colima/.config/colima/_lima
colima/.config/colima/_lima/*
colima/.config/colima/ssh_config
git/.config/lazygit/state.yml
nnn/.config/nnn/.lastd
nvim/.config/nvim/lazy-lock.json
packer_compiled.lua
