*.uuid
.DS_STORE
.DS_Store
packer_compiled.lua
*.zwc
.zprofile
*.DS_STORE
*.ttf
*.otf
colima/.colima/_lima/*
colima/.colima/ssh_config
lazygit/.config/lazygit/state.yml
nvim/.config/nvim/lazy-lock.json
nnn/.config/nnn/.lastd
*backblaze.age.json
colima/.config/colima/_lima
colima/.config/colima/_lima/*
colima/.config/colima/ssh_config
