# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Sets user-defined palette
# Palettes must be defined _after_ this line
palette = "catppuccin_mocha"


# Starship modules
[character]
# Note the use of Catppuccin color 'peach'
success_symbol = "[[](green) ❯](flamingo)"
error_symbol = "[[](red) ❯](flamingo)"
vimcmd_symbol = "[ ❮](subtext1)" # For use with zsh-vi-mode

[directory]
truncation_length = 4
style = "bold lavender"

[cmd_duration]
format = '[$duration]($style) '
style = 'bold surface2'

[aws]
symbol = "  "

[buf]
symbol = " "

[c]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CachyOS = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
Nobara = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[package]
symbol = "󰏗 "
disabled = true

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[python]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

[gradle]
symbol = " "

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

# # custom module for jj status
# [custom.jj]
# description = "The current jj status"
# when = "jj --ignore-working-copy root"
# symbol = "󰠬 "
# command = '''
# jj log --revisions @ --no-graph --ignore-working-copy --color always --limit 1 --template '
#   separate(" ",
#     change_id.shortest(4),
#     bookmarks,
#     "|",
#     concat(
#       if(conflict, "✘"),
#       if(divergent, "⥮"),
#       if(hidden, "󰊠"),
#       if(immutable, "󰌾"),
#     ),
#     raw_escape_sequence("\x1b[1;32m") ++ if(empty, "(empty)"),
#     raw_escape_sequence("\x1b[1;32m") ++ coalesce(
#       truncate_end(29, description.first_line(), "…"),
#       "(no description set)",
#     ) ++ raw_escape_sequence("\x1b[0m"),
#   )
# '
# '''
#
# # optionally disable git modules when JJ is found.
# # note that you'll need to add ${custom.git_branch}, ${custom.git_commit} etc
# # into format: https://starship.rs/config/#default-prompt-format
# [git_status]
# disabled = true
#
# [custom.git_status]
# when = "! jj --ignore-working-copy root"
# command = "starship module git_status"
# style = "" # This disables the default "(bold green)" style
# description = "Only show git_status if we're not in a jj repo"
#
# [git_commit]
# disabled = true
#
# [custom.git_commit]
# when = "! jj --ignore-working-copy root"
# command = "starship module git_commit"
# style = ""
# description = "Only show git_commit if we're not in a jj repo"
#
# [git_metrics]
# disabled = true
#
# [custom.git_metrics]
# when = "! jj --ignore-working-copy root"
# command = "starship module git_metrics"
# description = "Only show git_metrics if we're not in a jj repo"
# style = ""
#
# [git_branch]
# disabled = true
#
# [custom.git_branch]
# when = "! jj --ignore-working-copy root"
# command = "starship module git_branch"
# description = "Only show git_branch if we're not in a jj repo"
# style = ""

[git_branch]
style = "bold mauve"
format = '[$symbol$branch(:$remote_branch)]($style) '
symbol = " "

[git_commit]
tag_symbol = '  '

[git_status]
format = '([$all_status$ahead_behind]($style) )'
# This branch has merge conflicts.
conflicted = "="
# The format of ahead.
ahead = "⇡"
# The format of behind.
behind = "⇣"
# The format of diverged.
diverged = "⇕"
# The format of up_to_date.
up_to_date = ""
# The format of untracked.
untracked = "?"
# The format of stashed.
stashed = "$"
# The format of modified.
modified = "!"
# The format of staged.
staged = "+"
# The format of renamed.
renamed = "»"
# The format of deleted.
deleted = "✘"
# The format of typechanged.
typechanged = ""
# The style for the module.
style = "bold teal"
# Ignore changes to submodules.
ignore_submodules = false
# Disables the git_status module.
disabled = false
# Use this (Linux) path to a Windows Starship executable to render git_status when on Windows paths in WSL.
windows_starship = ""


