[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only --diff-so-fancy

[delta]
    dark = true
    line-numbers = true
    navigate = true    # use n and N to move between diff sections
    pager = "bat"
    side-by-side = true
    true-color = "always"

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[user]
    name = Michael Park
    email = me@mhpark.me
    signingkey = ~/.ssh/id_ed25519.pub

[pull]
    rebase = false

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[gpg]
    format = ssh

[commit]
    gpgsign = true
