[include]
    path = ~/.config/lazygit/catppuccin.gitconfig

[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    dark = true
    file-decoration-style = none
    file-style = omit
    line-numbers = true
    side-by-side = false
    navigate = true    # use n and N to move between diff sections
    true-color = "always"
    pager = "never"
    features = CatppuccinMocha

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[user]
    name = Michael Park
    email = me@mhpark.me
    signingkey = ~/.ssh/id_ed25519.pub

[pull]
    rebase = false
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[gpg]
    format = ssh
[commit]
    gpgsign = true
